
#themContainer .proposition::before
{
	 content: "(P) ";
	 color:yellow;
}

#themContainer .theme::before
{
	 content: "(T) ";
	 color:yellow;
}

#themContainer .specifier::after
{
	 content: " (SP)";
	 color:yellow;
}

#themContainer .rheme::before
{
	 content: "(R) ";
	 color:yellow;
}
#themContainer{
	font-size: 20px;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.round {
  border-radius: 70%;
  color: white;
}

#main-title{
	padding: 50px;
	font-family: 'Open Sans Condensed', sans-serif; 
	font-size: 48px; 
	color: #333; 
	text-align: center;
}
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "HIDE";
    padding-left: 10px;
    background-color: #7934C2; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "SHOW";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 19px; margin: 5.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

#textAreaWrapper{
	text-align: center;
}
#textAreaWrapper textarea{
	width:800px;
}
textarea {
  resize: none;
}

.result{
	text-align:center;
	left:0;
	padding:0;
	margin:0;
	width:100%;
	position:absolute;
}

#tabContent{
	margin:0;
	position: relative;
	padding:0;
	display:none;
}

#wrapperButtons{
	margin-bottom: 20px;
}
.form5{
	width:50%;
}
ul.nav{
	font-size: 15px;
}

#pageButtons{
	position: absolute;
	left:0;
	margin-top:10px;
	z-index: 99999999999;
}

#pillWrapper
{
	display:none;
}

.nav-pills .pill-1 .nav-link:not(.active) {
    background-color: rgba(255, 23, 111, 0.3);
    color: white;
}

.nav-pills .pill-2 .nav-link:not(.active) {
    background-color: rgba(0, 10, 234, 0.3);
    color: white;
}

.nav-pills .pill-3 .nav-link:not(.active) {
    background-color: rgba(100, 10, 234, 0.3);
    color: black;
}


/* active (faded) */
.nav-pills .pill-1 .nav-link {
    background-color: rgba(255, 23, 111, 0.9);
    color: black;
}

.nav-pills .pill-2 .nav-link {
    background-color: rgba(0, 10, 234, 0.5);
    color: black;
}

.nav-pills .pill-3 .nav-link {
    background-color: rgba(100, 10, 234, 0.5);
    color: black;
}
